@model IEnumerable<Makale>

@{
    ViewData["Title"] = "MakaleListesi";
}

<h1>Makale Listesi</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OkunmaSayisi)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.MakaleBasligi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MakaleResim)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OkunmaSayisi)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.MakaleBasligi)
            </td>
            <td>
                <img src="~/resimler/@item.MakaleResim" class="rounded-circle" width="120" />
            </td>
           
            <td>
                <a class="btn btn-outline-info" asp-controller="Essay" asp-action="ReadEssay" asp-route-id="@item.ID">Makale Oku</a>                
            </td>
        </tr>
}
    </tbody>
</table>
