@model Uye

@{
    ViewData["Title"] = "MemberInfo";
}

<h1>MemberInfo</h1>

<div>
    <h4>Uye</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KullaniciAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KullaniciAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailAdresi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MailAdresi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KullaniciAciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KullaniciAciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KullaniciResim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KullaniciResim)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Update" asp-route-id="@Model.ID">Bilgilerinizi Güncelleme</a> |   
    <a asp-controller="Home" asp-action="Index">Geri Dön</a>
</div>
