@model Uye
@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h4>Uye</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Member" asp-action="Update" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Ad" class="control-label"></label>
                <input asp-for="Ad" class="form-control" />
                <span asp-validation-for="Ad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soyad" class="control-label"></label>
                <input asp-for="Soyad" class="form-control" />
                <span asp-validation-for="Soyad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KullaniciAdi" class="control-label"></label>
                <input asp-for="KullaniciAdi" class="form-control" />
                <span asp-validation-for="KullaniciAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MailAdresi" class="control-label"></label>
                <input asp-for="MailAdresi" class="form-control" />
                <span asp-validation-for="MailAdresi" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label>Şifrenizi Giriniz</label>
                <input  type="password" name="currentPassword" class="form-control" />
                <span class="text-danger">@ViewBag.PasswordError @ViewBag.NullPasswordError</span>
            </div>
            <div class="form-group">
                <label class="control-label">Yeni Şifrenizi Giriniz</label>
                <input  type="password" name="newPassword" class="form-control" />
                <span class="text-danger">@ViewBag.PasswordError @ViewBag.NullPasswordError</span>
            </div>
            <div class="form-group">
                <label asp-for="KullaniciAciklama" class="control-label"></label>
                <input asp-for="KullaniciAciklama" class="form-control" />
                <span asp-validation-for="KullaniciAciklama" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">

                <input asp-for="KullaniciResimYolu" type="file" class="form-control" accept=".jpg,.png,.gif,.jpeg">
                <span asp-validation-for="KullaniciResimYolu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Geri Dön</a>
</div>

