@model IEnumerable<Makale>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OkunmaSayisi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MakaleIcerigi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MakaleBasligi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MakaleResim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KonuID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uye)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OkunmaSayisi)
            </td>

            <td>
                <p>
                   
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Devamını Oku
                    </button>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        @Html.Raw(item.MakaleIcerigi)
                    </div>
                </div>
               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MakaleBasligi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MakaleResim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KonuID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uye.Ad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
